body {
    margin: 0;
    padding: 0;
    justify-content: center;
    overflow-wrap: break-word;
    overflow-x: hidden;
}


/* Navigacja */

.nav-bar {
    position: fixed;
    z-index: 10;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background: linear-gradient( #111, #444);
}

.nav-items {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    color: #FFF;
}

.nav-item {
    padding: 3px;
    font-size: 0.7em;
}

.color {
    color: red;
    margin-left: auto;
}


/* O mnie */

.container {
    margin-top: 6vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    width: 100%;
    height: auto;
    background-color: #FFF;
    justify-items: center;
    align-content: center;
    grid-gap: 20px;
    padding-bottom: 15px;
}

.photo {
    width: auto;
    height: 250px;
    margin: 20px;
}

.fab {
    margin-left: 20px;
    padding: 5px;
}

.photo>img {
    width: auto;
    height: 250px;
}

.about {
    margin: 0 8px;
}


/* Folio */

.examples {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-top: auto;
    width: 100%;
    /* color: #FFF; */
    /* background: linear-gradient( #111, #444); */
    margin-right: 0;
    padding-right: 0;
    text-align: center;
}

.left {
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 100%;
}

.test img {
    width: 200px;
    height: 100%;
}

.description {
    width: 100%;
    margin: 5px 10px;
    text-align: center;
}

.name {
    text-transform: uppercase;
}


/* Footer */

.footer {
    background: linear-gradient( #111, #444);
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    justify-self: center;
    bottom: 0;
}