body {
    margin: 0;
    padding: 0;
}


/* Navigacja */

.nav-bar {
    position: fixed;
    z-index: 10;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background: linear-gradient( #111, #444);
}

.nav-items {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    color: #FFF;
}

.nav-item {
    padding: 3px;
    font-size: 0.7em;
}

.color {
    color: red;
    margin-left: auto;
}


/* O mnie */

.container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    width: 100%;
    height: 300;
    background-color: #FFF;
    justify-items: center;
}

.child {
    padding: 20px;
    vertical-align: middle;
}

.photo>img {
    width: 100%;
    height: 200px;
}


/* Folio */

.examples {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 400;
    width: 100%;
    background: linear-gradient( #111, #444);
    color: #FFF;
}

.left {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.description {
    width: 100%;
    margin: 5px 10px;
    text-align: center;
}

.name {
    text-transform: uppercase;
}

.red {
    position: relative;
    display: flex;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
}