body {
    margin: 0;
    background-color: #eee;
}


/* Nawigacja */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #FFF;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: rgb(61, 98, 194);
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background: linear-gradient(to right, rgb(52, 184, 203), rgb(61, 98, 194), rgb(226, 29, 118));
    ;
    color: white;
}

li a:hover:not(.active) {
    background-color: rgb(226, 29, 118);
    color: white;
}


/* O mnie */

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.my-photo {
    width: 250px;
    height: 300px;
    border-radius: 50%;
}

.fab {
    padding: 5px;
    background: linear-gradient( rgb(52, 184, 203), rgb(61, 98, 194), rgb(226, 29, 118));
    color: #FFF;
}


/* Folio */

.examples {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.name {
    text-transform: uppercase;
}