    .contact {
        margin-top: 20px;
    }
    
    .btn {
        margin-top: 20px;
        text-decoration: none;
        color: $text;
        padding: 8px 12px;
        background: $main-gradient;
        border-radius: 5px;
    }