    .contact {
        margin-top: 20px;
    }
    
    .btn {
        margin-top: 20px;
        text-decoration: none;
        color: $bg-color;
        padding: 8px 12px;
        background: $accent-color;
        border-radius: 5px;
    }
    
    .info {
        margin-bottom: 40px;
    }