@import '_variables.scss';
*,
*::before,
*::after {
    box-sizing: border-box;
}

.body {
    margin: 0;
    background-color: $bg-color;
    color: $text;
    font-family: 'Crimson Text', serif;
}

h2 {
    font-family: 'Akronim', cursive;
}