@import '_variables.scss';
*,
*::before,
*::after {
    box-sizing: border-box;
}

.body {
    margin: 0;
    background-color: $bg-color;
    color: $hover-color;
    font-family: 'Exo', sans-serif;
}

h2 {
    font-family: 'Exo', sans-serif;
}