    //Nawigacja
    ul {
        list-style-type: none;
        z-index: 100;
        margin: 0;
        background: $accent-color;
        display: inline-block;
        left: 0;
        position: fixed;
        width: 100%;
        .my-photo {
            display: none;
        }
        h2 {
            display: none;
        }
        @include for-phone-only {
            list-style-type: none;
            z-index: 100;
            margin: 0;
            background-color: $accent-color;
            display: inline-block;
            left: 0;
            position: fixed;
            width: 100%;
            .my-photo {
                display: none;
            }
            h2 {
                display: none;
            }
        }
        @include for-desktop-up {
            padding: 0;
            display: block;
            width: 20%;
            position: fixed;
            height: 100%;
            overflow: auto;
            // border-right: 5px solid $hover-color;
            h2 {
                color: $bg-color;
                display: flex;
                text-align: center;
                justify-content: center;
                font-size: $font-size-2;
                font-style: italic;
                transition: ease-in-out 300ms;
                &:hover {
                    transform: scale(1.2);
                    color: $bg-color;
                }
            }
            .my-photo {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                width: 150px;
                height: 200px;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.8) 0px 10px 20px, inset rgba(0, 0, 0, 0.15) 2px -15px 25px;
                }
            }
            .nav-grid {
                display: flex;
                position: relative;
                justify-content: center;
                text-align: center;
                justify-items: center;
                .fab {
                    &:hover {
                        transform: scale(1.2);
                        background-color: $text;
                        color: $bg-color;
                    }
                }
            }
        }
    }
    
    li a {
        display: block;
        color: $text;
        padding: 8px 16px;
        text-decoration: none;
        font-size: $font-size-3;
        &:hover {
            background-color: $text;
            color: $bg-color;
        }
    }
    
    //O mnie
    .container {
        display: flex;
        position: relative;
        @include for-desktop-up {
            margin-left: 25%;
        }
    }
    
    .about {
        margin-top: 20px;
        h2 {
            font-size: $font-size-1;
            font-style: italic;
        }
    }
    
    .fab {
        padding: 8px;
        margin-right: 2px;
        background-color: $bg-color;
        color: $text;
        transition: ease-in-out 300ms;
        border-radius: 50%;
        &:hover {
            transform: scale(1.2);
        }
    }
    /* Folio */
    
    .examples {
        margin-top: 50px;
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        text-align: center;
        @include for-desktop-up {
            margin-left: 25%;
        }
    }
    
    .name {
        text-transform: uppercase;
        color: $text;
        text-decoration: none;
    }
    
    .img-p {
        width: 250px;
        height: auto;
        &:hover {
            -webkit-transform: rotate(-7deg);
            -moz-transform: rotate(-7deg);
            -o-transform: rotate(-7deg);
            transform: rotate(-7deg);
        }
    }
    
    //For mobile
    .for-mobile {
        display: block;
        position: relative;
        flex-direction: column;
        max-width: 100vw;
        img {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .my-photo {
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            margin-left: 2vw;
            width: 250px;
            height: 300px;
            border-radius: 50%;
        }
        h1 {
            text-align: center;
            font-size: $font-size-1;
            font-style: italic;
        }
        @include for-desktop-up {
            display: none;
        }
    }
    
    //CV
    .cv {
        margin-bottom: 20px;
        @include for-phone-only {
            display: none;
        }
    }