//Main colors
$bg-color: rgb(23, 35, 61);
$nav-color: #333;
$hover-color: rgb(210, 207, 202);
$accent-color: rgb(220, 174, 177);
$accent-light: rgb(181, 79, 236);
$text: #FFF;
//Gradients
$main-gradient: linear-gradient(to right, rgb(191, 0, 171), rgb(181, 79, 236), rgb(140, 29, 177));
$black-gradient: linear-gradient(#111, #333);
//Tekst
$font-size-base: 1rem;
$font-size-1: $font-size-base * 3; //~48px;
$font-size-2: $font-size-base * 1.5; //~24px;
$font-size-3: $font-size-base * 1.125; //~18px;
$font-size-4: $font-size-base * 1; //~16px;
$font-size-5: $font-size-base * .875; //~14px;
$font-size-6: $font-size-base * .75; //~12px;
$font-size-7: $font-size-base * .625; //~10px;
$line-height-base: 1.5;
$line-height-sm: 1.2;
$line-height-lg: 1.8;