//Main colors
$bg-color: #222;
$nav-color: #333;
$hover-color: rgb(226, 29, 118);
$accent-color: rgb(61, 98, 194);
$accent-light: rgb(52, 184, 203);
$text: #FFF;
//Gradients
$main-gradient: linear-gradient(to right, rgb(52, 184, 203), rgb(61, 98, 194), rgb(226, 29, 118));
$black-gradient: linear-gradient(#111, #333);
//Tekst
$font-size-base: 1rem;
$font-size-1: $font-size-base * 3; //~48px;
$font-size-2: $font-size-base * 1.5; //~24px;
$font-size-3: $font-size-base * 1.125; //~18px;
$font-size-4: $font-size-base * 1; //~16px;
$font-size-5: $font-size-base * .875; //~14px;
$font-size-6: $font-size-base * .75; //~12px;
$font-size-7: $font-size-base * .625; //~10px;
$line-height-base: 1.5;
$line-height-sm: 1.2;
$line-height-lg: 1.8;